#bienvenido{
  background: red;
}
body{
	 
     background-size: 100%;
     background-color: #FFDDEE;
}

#mostrar{
 color: white;
}

#fondocolor a:hover{
 background: #DDC9FF;
 color: black;
}
.contenedorform{
	width: 75%;
	margin-left: 10%;
	background: #eee;
	padding: 10px;
	padding-top: 15px;
	border-radius: 10px;
	
}
.white{
    color: white;

}

.botoncito{
	background: red !important;

}

#imagen{
 width: 20%;
 height: 20%;
 float: right;
}

.formulario{
	background: white;
	width: 60%;
	margin-left: 10%;
	border-radius: 0.5em;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
	padding: 1em 1em;
}

.inicio{
    background: white;
    width: 88%;
    margin-left: 5%;
    border-radius: 0.5em;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    padding: 1em 1em;
}
.tablita{
	background: white;
	width: 80%;
	margin-left: 10%;
	border-radius: 0.5em;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.buscador{
	background: red;
	margin-right: 10%;
}





aside{
    clear: both;
    width: 950px;
    margin: 10px 0px;
    height: 340px;
    overflow: hidden;
    background: #ECECEC;
   
    
    
}
    @-webkit-keyframes animaSlide{
        /*Indicamos que salimos de la posicion 0*/
        from{ 
            left:0px;/*Hacia la izquierda*/
        }
        /*Que hasta el 20% de la reproducion solo de desplace 0*/
        20%{
            left:0px;/*Hacia la izquierda*/
        }
        /*Que hasta el 40% de la reproducion solo de desplace -960*/
        40%{
            left:-960px;/*Hacia la izquierda*/
        }
        /*Que hasta el 60% de la reproducion solo de desplace -960*/
        60%{
            left:-960px;/*Hacia la izquierda*/
        }
        /*Que hasta el 80% de la reproducion solo de desplace -1920*/
        80%{
            left:-1920px;/*Hacia la izquierda*/
        }
        /*Indicamos que el final  la posicion deber ser -1920*/
        to{
            left:-1920px;/*Hacia la izquierda*/
        }
    }
    
 

    #slides{
        width:2880px;/*Nuevo*/
        height:auto;
        overflow: hidden;
        -webkit-animation-name: animaSlide;
        -webkit-animation-duration: 12s;/*Cambiar en la pagina de hostinger*/
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        position:relative;
    }
        #slides img{
            float:left;
        }



img {
  border-radius:50%;
margin-left: 10%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  -moz-border-radius:50%;
  border:6px solid rgba(221, 218, 215, 0.23);

}
#izquierda{
margin-left: 20%;
}
#centro{
margin-left: 20%;
}




.formulario2{
    background: white;
    width: 75%;
    margin-left: 10%;
    border-radius: 0.5em;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    padding: 1em 1em;
}

#instalacion{

    width: 10%;
    text-align: center;

    display: inline;

}
#numero{

    width: 10%;
    display: inline;
    margin-left: 1%;
    text-align: center;

}

#delegacion{

    width: 10%;
    display: inline;
    margin-left: 1%;
    text-align: center;
 
}

#ambito{
    
    width: 10%;
    display: inline;
    margin-left: 1%;
    text-align: center;
   
}
#email{
    
    float: right;
    
    
}
#notificacion{

}


/*estilos para el radio de hombre y mujer*/
.wrap {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}


.formulario {
  /* --------------------------------------- */
  /* ----- Radio Button */
  /* --------------------------------------- */
  /* --------------------------------------- */
  /* ----- Checkbox */
  /* --------------------------------------- */
}
.formulario h2 {
  font-size: 16px;
  color: #001F3F;
  margin-bottom: 20px;
  margin-left: 20px;
}
.formulario > div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.formulario label {
  display: inline-block;
  cursor: pointer;
  color: #0074D9;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formulario label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 3px solid #0074D9;
}
.formulario input[type="radio"] {
  display: none;
}
.formulario input[type="radio"]:checked + label:before {
  display: none;
}
.formulario input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #0074D9;
  border-radius: 2px;
  color: #fff;
}
.formulario .checkbox label:before {
  border-radius: 3px;
}
.formulario .checkbox input[type="checkbox"] {
  display: none;
}
.formulario .checkbox input[type="checkbox"]:checked + label:before {
  display: none;
}
.formulario .checkbox input[type="checkbox"]:checked + label {
  background: #0074D9;
  color: #fff;
  padding: 5px 15px;
}

#observacion{
  float: right;
  width: 28%;

}


#disenoform{
  width: 60%;
}
#disenoform{

}

#titulos{
  background-color: #009031;
  color:#ffffff;
   transition-duration: 2.8s;
}
#titulos:hover{
  background-color: #D2006E;
}
#titulos2{
  background-color: #009031;
  color:#ffffff;
   transition-duration: 2.8s;
}
#titulos2:hover{
  background-color: #621072;
}

#menus{
  transition-duration: 4s;
}
#menus:hover{
  background-color: #580A60;
  color: white;
}